.deployment {
    padding: 5px;
    text-align: center;
    background: #eeeeef;
    border-radius: 12px;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.btn {
    border: 2px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #25518f;
    margin: auto;
    margin-right: 10px;
}

.deploy {
    border-color: #050110;
    color: rgb(255, 255, 255);
}

.deploy:hover {
    background-color: #00020c;
    color: white;
}

.report {
    border-color: #050110;
    color: rgb(255, 255, 255);
}

.report:hover {
    background-color: #00020c;
    color: white;
}

input[type='text'] {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 12px;
    -webkit-border-radius: 8px;
    width: 60%;
}

input[type='text']:focus {
    border-color: #333;
}

.initial-input {
    padding: 20px;
    border-radius: 12px;
    flex: auto;
    border: 3px solid rgb(38, 39, 38);
    margin: auto;
    width: 50%;
    background-color: #d1e0f5;
}

.grid {
    margin-top: 40px;
    margin: auto;
    width: 50%;
    padding: 10px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-bottom: 25px;
}
.plateau-size {
    margin-bottom: 10px;
    width: 40px;
    margin-right: 10px;
}

.input-title {
    font-family: 'Lucida Console';
    margin: auto;
    width: 51%;
    padding: 18px 18px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #25518f;
    color: rgb(254, 252, 252);
}

.initial-position {
    margin-bottom: 10px;
    width: 50px;
    margin-right: 165px;
}
.initial-instruction {
    margin-bottom: 20px;
    width: 200px;
    margin-right: 15px;
}
